#!/bin/sh

xrandr --output HDMI1 --brightness 0.85
xset r rate 180 40

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

xscreensaver -no-splash &
numlockx &
fcitx &
#ibus-daemon -drx
dropbox &
copyq &
xclip &
albert &
rescuetime &
shutter --min_at_startup &

exec awesome
#exec i3
